 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест: Какой ты баскетболист?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Какой ты баскетболист?</h1>
        <form method="POST">
            {% for question in questions %}
                <div class="question">
                    <h2>{{ question.question }}</h2>
                    {% for option in question.options %}
                        <label>
                            <input type="radio" name="{{ question.question | replace(' ', '_') }}" value="{{ option }}">
                            {{ option }}
                        </label><br>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Пройти тест</button>
        </form>
    </div>
</body>
</html>
